<div id="header">
  <div class="row">
    <div class="col-md-5 nav-column">
      <ul>
        <li><a [routerLink]="['/blog']">Create blog</a></li>
        <li><a [routerLink]="['/forum']">Forum</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <div class="image_container center">
        <a [routerLink]="['']"><img src="../../assets/img/fontys-logo-scrappedfromwebsite.png"/>
        <span class="headertext">International</span></a>
      </div>
    </div>
    <div class="col-md-5">

    </div>
  </div>
  
</div>
