<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-4 center">
        <nav class="nav">
          <a class="nav-link" [routerLink]="['/forum']">
            <i class="fa fa-list"></i> Overzicht</a>
          <a class="nav-link" [routerLink]="['/blog']">
            <i class="fa fa-pencil-square-o"></i> Blog aanmaken</a>
        </nav>
      </div>
      <div class="col-md-2">
        <div class="image_container center">
          <img src="../../assets/img/fontys-logo-scrappedfromwebsite.png" />
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2 center">
        <nav class="nav">
          <a *ngIf='userLoggedIn() == true' class="nav-link" (click)="logoutUser()">
            <i class="fa fa-sign-out"></i> Uitloggen</a>
          <a *ngIf='userLoggedIn() == false' class="nav-link" [routerLink]="['/login']">
            <i class="fa fa-sign-in"></i> Inloggen</a>
        </nav>
      </div>
    </div>
  </div>
</div>